In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/Belajar/Data Analysis/Dataset/peak_time_2_juli.csv')

In [3]:
df.head()

,create_date,start,edit,finish,due_date
0,2022-07-04 20:31:21,2022-07-04 20:32:56,2022-07-04 20:35:19,2022-07-04 20:35:24,2022-07-05 20:31:21
1,2022-07-17 07:55:35,2022-07-17 07:57:27,2022-07-17 07:59:56,2022-07-17 08:00:01,2022-07-18 07:55:35
2,2022-07-16 04:38:18,2022-07-16 04:39:52,2022-07-16 04:42:56,2022-07-16 04:43:03,2022-07-17 04:38:18
3,2022-07-20 04:54:40,2022-07-20 04:57:15,2022-07-20 04:59:27,2022-07-20 04:59:35,2022-07-21 04:54:40
4,2022-07-04 20:02:28,2022-07-04 20:04:46,2022-07-04 20:07:38,2022-07-04 20:07:43,2022-07-05 20:02:28

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4105 entries, 0 to 4104
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   create_date  1013 non-null   object
 1   start        1013 non-null   object
 2   edit         1013 non-null   object
 3   finish       1004 non-null   object
 4   due_date     1013 non-null   object
dtypes: object(5)
memory usage: 160.5+ KB

In [5]:
df['create_date'] = pd.to_datetime(df['create_date'])
df['start'] = pd.to_datetime(df['start'])
df['edit'] = pd.to_datetime(df['edit'])
df['finish'] = pd.to_datetime(df['finish'])
df['due_date'] = pd.to_datetime(df['due_date'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4105 entries, 0 to 4104
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   create_date  1013 non-null   datetime64[ns]
 1   start        1013 non-null   datetime64[ns]
 2   edit         1013 non-null   datetime64[ns]
 3   finish       1004 non-null   datetime64[ns]
 4   due_date     1013 non-null   datetime64[ns]
dtypes: datetime64[ns](5)
memory usage: 160.5 KB

In [7]:
df.head()

,create_date,start,edit,finish,due_date
0,2022-07-04 20:31:21,2022-07-04 20:32:56,2022-07-04 20:35:19,2022-07-04 20:35:24,2022-07-05 20:31:21
1,2022-07-17 07:55:35,2022-07-17 07:57:27,2022-07-17 07:59:56,2022-07-17 08:00:01,2022-07-18 07:55:35
2,2022-07-16 04:38:18,2022-07-16 04:39:52,2022-07-16 04:42:56,2022-07-16 04:43:03,2022-07-17 04:38:18
3,2022-07-20 04:54:40,2022-07-20 04:57:15,2022-07-20 04:59:27,2022-07-20 04:59:35,2022-07-21 04:54:40
4,2022-07-04 20:02:28,2022-07-04 20:04:46,2022-07-04 20:07:38,2022-07-04 20:07:43,2022-07-05 20:02:28

In [8]:
df['durasi_tiket'] = df['finish'] - df['create_date']

In [9]:
df.head()

,create_date,start,edit,finish,due_date,durasi_tiket
0,2022-07-04 20:31:21,2022-07-04 20:32:56,2022-07-04 20:35:19,2022-07-04 20:35:24,2022-07-05 20:31:21,0 days 00:04:03
1,2022-07-17 07:55:35,2022-07-17 07:57:27,2022-07-17 07:59:56,2022-07-17 08:00:01,2022-07-18 07:55:35,0 days 00:04:26
2,2022-07-16 04:38:18,2022-07-16 04:39:52,2022-07-16 04:42:56,2022-07-16 04:43:03,2022-07-17 04:38:18,0 days 00:04:45
3,2022-07-20 04:54:40,2022-07-20 04:57:15,2022-07-20 04:59:27,2022-07-20 04:59:35,2022-07-21 04:54:40,0 days 00:04:55
4,2022-07-04 20:02:28,2022-07-04 20:04:46,2022-07-04 20:07:38,2022-07-04 20:07:43,2022-07-05 20:02:28,0 days 00:05:15

In [12]:
print('MIN :',df['durasi_tiket'].min())
print('MAX :',df['durasi_tiket'].max())
print('AVG :',df['durasi_tiket'].mean())

MIN : 0 days 00:04:03
MAX : 9 days 17:13:56
AVG : 1 days 21:21:32.087649402